@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=BBH+Bartle&family=Engagement&family=Kaushan+Script&family=Metamorphous&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&display=swap');    * { margin: 0; padding: 0; box-sizing: border-box; }

.autoRotate {
    animation: AutoRotateAnimation;
    animation-timeline: view();
}

@keyframes AutoRotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageReveal {
    animation: imageRevealAnimation both;
    animation-timeline: view(30% 5%);
}

@keyframes imageRevealAnimation {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
}

.timeline-item:nth-child(1) {
    animation-range: entry 20% cover 40%;
}

.timeline-item:nth-child(2) {
    animation-range: entry 40% cover 60%;
}

.timeline-item:nth-child(3) {
    animation-range: entry 60% cover 80%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view(50% auto);
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(20px);
    }

    35%,
    45% {
        filter: blur(0px);
    }

    70% {
        filter: blur(20px);
    }

    100% {
        filter: blur(0px);
    }
}

.horizontal-scroll-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #aa6611 #1a1a1a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #aa6611;
    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: var(--primary-color) #0b0e13;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #0b0e13;
    --scrollbar-track: #0b0e13;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background: #0b0e13;
    min-height: 100vh;
    overflow-x: hidden;
}


.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
        url(ty\ \(4\).jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.logo {
    position: fixed;
    top: 30px;
    left: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.logo img {
    height: 50px;
    width: auto;
}

.logotext{
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: "Momo Signature", sans-serif;
}

.hero-text {
    max-width: 50%;
    text-align: left;
    margin-top: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    font-size: 4.5rem;
    line-height: 1.2;
    font-family: 'Russo One', sans-serif;
}

.title span {
    color: var(--primary-color);
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: transform .15s, box-shadow .2s;
    margin-top: 2%;

}

.nav-btn .btn {
    display: flex;
    align-items: center;
    padding: .6rem 1rem;
    font-size: 15px;
    font-weight: 600;
    font-family: "Momo Signature", sans-serif;
    color: #111;
    cursor: pointer;
    text-decoration: none;
}

.nav-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 32px -8px #aa6611;
}


.hero-image img {
    max-height: 850px;
    width: auto;
    animation: floatingimage 3s ease-in-out infinite;
}

@keyframes floatingimage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}


.expert-section {
    background: #0b0e13;
    padding: 6rem 1rem;
    color: #fff;
}

.expert-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.autoRotate{
    width: 300%;
    margin-left: -500%;
}
.expert-left {
    flex: 1;
    min-width: 300px;
    position: relative;
}

.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
}


.circle-badge {
    position: absolute;
    top: -20px;
    right: -40px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg);
}

.expert-right {
    flex: 1;
    min-width: 300px;
    margin-left: -30%;
}

.section-tag {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.expert-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
}

.expert-title span {
    color: var(--primary-color);
}

.expert-desc {
    margin: 1.5rem 0;
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
}

.expert-features {
    list-style: none;
    padding-left: 0;
    margin: 2rem 0;
}

.expert-features li {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.5rem;
}

.expert-features li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    height: 10px;
    width: 4px;
    background-color: var(--primary-color);
}
.expert-features span{
    color: #aa6611;
}
.expert-right a{
    text-decoration: none;
}
.read-more-btn {
    display: flex;
    align-items: center;
    padding: .6rem 1rem;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    font-family: "Momo Signature", sans-serif;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    text-decoration: none;
}
.read-more-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 32px -8px #aa6611;
}
.team-section {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 6rem 1rem;
    color: #fff;
    text-align: center;
}

.team-header .sub-heading {
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.team-header .main-heading {
    font-size: 2.8rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.team-member {
    max-width: 220px;
    text-align: center;
    
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.team-member .role {
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.team-member .name {
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}
.timeline-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 1rem;
    position: relative;
}

.timeline-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.timeline-item.left .timeline-img,
.timeline-item.right .timeline-content {
    order: 1;
}

.timeline-item.left .timeline-content,
.timeline-item.right .timeline-img {
    order: 2;
}

.timeline-img {
    flex: 1 1 45%;
    max-width: 45%;

}

.timeline-img img {
    width: 40%;
    border-radius: 12px;
}

.content-right {
    text-align: right;
}

.timeline-content {
    flex: 1 1 45%;
    max-width: 45%;
    color: #fff;
    padding: 20px;
}

.timeline-label {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.timeline-year {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.timeline-content p {
    font-size: 16px;
    color: #ccc;
    padding-top: 10px;
}

.timeline-section::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    width: 2px;
    background: #aa6611;
    transform: translateX(-50%);
}
.horizontal-scroll-wrapper h1{
    margin-left: 87%;
    margin-top: 3%;
    color: #aa6611;
    font-size: 40px;
}
.scroll-container {
    background-color: #0b0e13;
    position: relative;
    padding: 6rem 1rem;
}

.horizontal-scroll-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.horizontal-scroll {
    display: flex;
    margin-top: 3%;
    gap: 2rem;
    width: max-content;
    padding: 1rem;
}

.card {
    flex: 0 0 auto;
    width: 250px;
    height: 120px;
    scroll-snap-align: center;
    background-color: transparent;
    border: 1px solid #aa6611;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    scroll-snap-align: start;
    transition: 0.3s ease;
}
.card:hover{
    border: 1px solid #ccc;
    transform: translateY(-2px);
}
.horizontal-scroll span{
    color: #aa6611;
}


.footer {
  background: #0b0e13;
  color: #fff;
  padding: 4rem 1rem 1rem;
  margin-top: 5%;
}
footer span{
    color: #aa6611;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.footer h2, .footer h3 {
  margin-bottom: 1rem;
}

.footer p {
  color: #ccc;
  line-height: 1.6;
  
}
.footer-about .slogan{
    font-family: "Momo Signature", sans-serif;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.7rem;
  text-decoration: none;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-links ul li a:hover {
  color: #f4a825;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #222;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 18px;
  text-decoration: none;
}

.social-icons a:hover {
  background: #f4a825;
  color: #000;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #aa6611;
  margin-top: 2rem;
  padding-top: 1rem;
  color: #aaa;
  font-size: 14px;
}

